@import "tailwindcss";
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 3.9%; /* Black */
  }
  
  .dark {
    --background: 0 0% 3.9%; /* Black */
    --foreground: 0 0% 98%; /* White */
  }
}